---
import { t } from 'astro-gettext'
---
<div>
  <h1>{t`Hello World`}</h1>
  <h2>{t`Lorem Ipsum is simply dummy text of the printing and typesetting industry.`}</h2>
  <div>
    <p>{t`Lorem Ipsum is simply dummy text of the printing and typesetting industry.`}</p>
  </div>
  <h1>{t`Hello World`}</h1>
  <input type="number" defaultValue={t`Get started with astro-gettext`} />
</div>
